QuizwanieMVCv2/Service References/QuizwanieService/QuizwanieService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuizwanieServiceV3.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuizwanieServiceV3.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorrectAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="WrongAnswer1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WrongAnswer2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WrongAnswer3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:complexType name="ArrayOfOngoingGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OngoingGame" nillable="true" type="tns:OngoingGame" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOngoingGame" nillable="true" type="tns:ArrayOfOngoingGame" />
  <xs:complexType name="OngoingGame">
    <xs:sequence>
      <xs:element minOccurs="0" name="CallerUserAnswerCount" type="xs:int" />
      <xs:element minOccurs="0" name="CallerUserCorrectAnswers" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsGameOver" type="xs:boolean" />
      <xs:element minOccurs="0" name="OpponentAnswerCount" type="xs:int" />
      <xs:element minOccurs="0" name="OpponentCorrectAnswers" type="xs:int" />
      <xs:element minOccurs="0" name="OpponentUserId" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionsSet" nillable="true" type="tns:ArrayOfQuestion" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OngoingGame" nillable="true" type="tns:OngoingGame" />
</xs:schema>